.categroy{
    max-width: 1100px;
    margin: 0 auto;
}

.categroy{
    text-align: center;
}

.categroy h1{
    font-family: 'Raleway', sans-serif;
    color: rgb(96, 96, 114);
    font-size: 45px;
}

.categroy .table-title{
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  
}
.categroy .table-title::before{
  content: "";
  display: block;
  height: 2px;
  background-color: rgb(96, 96, 114);
  
}

.categroy .table-title::before {
  margin-bottom: 10px;
}

.categroy .table-title::after {
  margin-top: 30px;
}

table{
    border: 2px solid rgb(202 202 222);
    max-width: 1800px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    color: rgb(96, 96, 114);
    font-size: 30px;
}

table th {
    border: 2px solid rgb(202 202 222);
    padding: 8px;
}

 table td{
    border: 2px solid rgb(202 202 222);
    padding: 10px;
 }

 .categroy  button{
   
  color: rgb(96, 96, 114);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid rgb(202 202 222);
  padding: 10px;
  background-color: rgb(223, 223, 231);
  cursor: pointer;
 }

 .categroy  button:hover{
    background-color: rgb(54, 54, 63);
 }


 .table-title .create-link {
    text-decoration: none;
    color: rgb(96, 96, 114);
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid rgb(202 202 222);
    padding: 6px 19px;
    background-color: rgb(223, 223, 231);
  
  }
  
  .userTable .create-link:hover {
    background-color: rgb(54, 54, 63);
  }